{% extends "base.html" %}
{% block title %}
Market
{% endblock %}
{% block content %}

<div class="row" style="margin-top: 20px; margin-left: 20px;">
  <div class="col-8">
    <h2>Available Items</h2>
    <p>Click on the Purchase Item button to buy an item.</p>
    <br>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Barcode</th>
          <th scope="col">Price</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        {% include "includes/items_modal.html" %}
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.barcode }}</td>
          <td>${{ item.price }}</td>
          <td>
            <button class="btn btn-outline btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-MoreInfo-{{ item.id }}">
              More Info
            </button>
            <button class="btn btn-outline btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-PurchaseConfirm-{{ item.id }}">
              Purchase Item
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h2>Owned Item</h2>
    <p>Click on the Sell Item button to put an item back to the market</p>

    <div class="row">
      {% for owned_item in owned_items %}
      {% include "includes/owned_items_modal.html" %}
        <div class="col-md-6">
          <div style="margin-bottom: 5px" class="card shadow text-center">
            <div class="card-body">
              <h5 class="card-title">{{ owned_item.name }}</h5>
              <button type="button"
                      class="btn btn-outline-danger"
                      style="margin-bottom: 5px"
                      data-bs-toggle="modal"
                      data-bs-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                Sell this item
              </button>
              <p class="card-text"><strong>This item costs ${{ owned_item.price }}.</strong></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}